/* line 5, E:/Fall 2015/webar/wallet/app/assets/stylesheets/costs.scss */
.nav li {
  display: inline;
  list-style: none;
  margin-right: 40px;
}

/* line 11, E:/Fall 2015/webar/wallet/app/assets/stylesheets/costs.scss */
.nav li a {
  color: white;
  font-size: 25px;
  text-decoration: none;
}

/* line 17, E:/Fall 2015/webar/wallet/app/assets/stylesheets/costs.scss */
.spanlink a {
  color: white !important;
}

/* line 21, E:/Fall 2015/webar/wallet/app/assets/stylesheets/costs.scss */
.body {
  background-image: url(/assets/2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 100% 100%;
  background-size: cover;
  color: white;
}

/* line 29, E:/Fall 2015/webar/wallet/app/assets/stylesheets/costs.scss */
.body a {
  color: white !important;
}

/* line 33, E:/Fall 2015/webar/wallet/app/assets/stylesheets/costs.scss */
.coststb {
  font-size: 1.5em;
  min-height: 250px;
  min-width: 600px;
}

/* line 40, E:/Fall 2015/webar/wallet/app/assets/stylesheets/costs.scss */
.coststb tbody tr td a {
  color: white;
}

/* line 43, E:/Fall 2015/webar/wallet/app/assets/stylesheets/costs.scss */
.coststb thead tr th {
  text-align: left;
}

/* line 47, E:/Fall 2015/webar/wallet/app/assets/stylesheets/costs.scss */
.collapse {
  position: absolute;
  top: 0px;
  margin-bottom: 20px;
  background-color: darkblue;
  width: 100%;
  height: 50px;
  left: 0px;
}

/* line 57, E:/Fall 2015/webar/wallet/app/assets/stylesheets/costs.scss */
.collapse ul {
  float: right;
}

/* line 61, E:/Fall 2015/webar/wallet/app/assets/stylesheets/costs.scss */
.alert {
  float: right;
  margin-right: 180px;
}
/* line 1, E:/Fall 2015/webar/wallet/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, E:/Fall 2015/webar/wallet/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, E:/Fall 2015/webar/wallet/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, E:/Fall 2015/webar/wallet/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 24, E:/Fall 2015/webar/wallet/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 28, E:/Fall 2015/webar/wallet/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, E:/Fall 2015/webar/wallet/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 40, E:/Fall 2015/webar/wallet/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 44, E:/Fall 2015/webar/wallet/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 50, E:/Fall 2015/webar/wallet/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 58, E:/Fall 2015/webar/wallet/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 69, E:/Fall 2015/webar/wallet/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

