<p id="notice"><%= notice %></p>
<% if current_user %>
<h1 style = "font-family:'Brush Script MT', cursive;color:blue;font-size:5em;"><%= I18n.t('views.mainpagetitle') %></h1>
<% if (Cost.where(:created_at => Time.now.beginning_of_month..Time.now.end_of_month, :email => current_user.email).sum(:amount)) > 200 %>
<div class="alert"><%= image_tag("alert") %></div>
<div style="font-family:'Brush Script MT', cursive;color:red;font-size:35px;position:absolute;right:5px;margin-top:180px;"><%= I18n.t('views.spent') %></div>
<% end %>
<% if (Cost.where(:email => current_user.email).count(:amount) > 0) || (Income.where(:email => current_user.email).count(:amount) > 0)%>
<table class="coststb">
  <thead>
    <tr>	  	
      <th><%= Cost.human_attribute_name(:type) %></th>	
	  <th><%= Cost.human_attribute_name(:date) %></th>
      <th><%= Cost.human_attribute_name(:category) %></th>
      <th><%= Cost.human_attribute_name(:amount) %></th>	 			
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @costs.each do |cost| %>
	<%if current_user.email == cost.email%>
      <tr style="color:red;">
		<td><%= I18n.t('views.expense') %></td>
	  <td><%= cost.created_at.strftime("%m/%d/%Y") %></td>
        <td><% if cost.category %><%= cost.category.name %><%end%></td>
        <td><%= number_to_currency(cost.amount) %></td>				
        <td><%= link_to I18n.t('views.show'), cost %></td>
        <td><%= link_to I18n.t('views.edit'), edit_cost_path(cost) %></td>
        <td><%= link_to I18n.t('views.destroy'), cost, method: :delete, data: { confirm: I18n.t('views.are_you_sure') } %></td>
      </tr>
	  <%end%>
    <% end %>
	<% Income.all.each do |income| %>
	<%if current_user.email == income.email%>
      <tr style="color:green;">	  
	  <td><%= I18n.t('views.income') %></td>
	  <td><%= Time.now.strftime("%m/%d/%Y") %></td>
        <td><% if income.category %><%= income.category.name %><%end%></td>
        <td><%= number_to_currency(income.amount) %></td>				
        <td><%= link_to I18n.t('views.show'), income %></td>
        <td><%= link_to I18n.t('views.edit'), edit_income_path(income) %></td>
        <td><%= link_to I18n.t('views.destroy'), income, method: :delete, data: { confirm: I18n.t('views.are_you_sure') } %></td>
      </tr>
	  <%end%>
    <% end %>
  </tbody>
</table>
<%end%>
<h2 style = "font-family:'Brush Script MT', cursive;color:blue;font-size:3em;"><%= I18n.t('views.availablebalance') %>:<label style="color:crimson;"> $<%=Income.where(:email => current_user.email).sum(:amount) - Cost.where(:email => current_user.email).sum(:amount) %></label></h2>
<h2 style = "font-family:'Brush Script MT', cursive;color:blue;font-size:3em;display:inline-block;"><%= I18n.t('views.bills') %>:</h2>
<%= link_to image_tag("bofa.jpg", :size => "70x50"), "https://www.bankofamerica.com/" %>
<%= link_to image_tag("chase.jpg", :size => "70x50"), "https://www.chase.com/" %>
<%= link_to image_tag("wellsfargo.jpg", :size => "70x50"), "https://www.wellsfargo.com/" %>
<br>
<%else%>
<h1 style="text-align:center;margin-top:300px;color:red;">Sign in above to enjoy the benefits of Wallet App!!! </h1>
<%end%>



