<p id="notice"><%= notice %></p>

<p>
  <strong><%= Cost.human_attribute_name(:category) %>:</strong>
  <% if @cost.category %><%= @cost.category.name %> <% end %>
</p>

<p>
  <strong><%= Cost.human_attribute_name(:amount)%>:</strong>
  <%= number_to_currency(@cost.amount) %>
</p>

<%= link_to link_to I18n.t('views.edit'), edit_cost_path(@cost) %> |
<%= link_to link_to I18n.t('views.back'), costs_path %>
