<%= form_for(@income) do |f| %>
  <% if @income.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@income.errors.count, "error") %> prohibited this income from being saved:</h2>

      <ul>
      <% @income.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field" style="display:inline-block;">
  <%= f.label :category_id %><br>
	<%= f.collection_select(:category_id, Category.all, :id, :name) %>
  </div>    
  <span class="spanlink"><%= I18n.t('views.orclick') %> <%= link_to I18n.t('views.here'), new_category_path %> <%= I18n.t('views.create') %></span>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
