<p id="notice"><%= notice %></p>

<h1><%= I18n.t('views.cost.index.new_product') %></h1>

<table class="coststb">
  <thead>
    <tr>
      <th><%= Income.human_attribute_name(:category) %></th>
      <th><%= Income.human_attribute_name(:amount) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incomes.each do |income| %>
      <tr>
        <td><% if income.category %><%= income.category.name %><%end%></td>
        <td><%= income.amount %></td>
        <td><%= link_to I18n.t('views.show'), income %></td>
        <td><%= link_to I18n.t('views.edit'), edit_income_path(income) %></td>
        <td><%= link_to I18n.t('views.destroy'), income, method: :delete, data: { confirm: I18n.t('views.are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to I18n.t('views.back'), costs_path %>
