<p id="notice"><%= notice %></p>

<p>
  <strong><%= Income.human_attribute_name(:category) %>:</strong>
  <% if @income.category %><%= @income.category.name %> <% end %>
</p>

<p>
  <strong><%= Income.human_attribute_name(:amount) %>:</strong>
  <%= number_to_currency(@income.amount) %>
</p>

<%= link_to I18n.t('views.edit'), edit_income_path(@income) %> |
<%= link_to I18n.t('views.back'), costs_path %>
