// Place all the styles related to the costs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav li{
	display:inline;
	list-style:none;
	margin-right:40px;
}

.nav li a{
	color:white;
	font-size:25px;
	text-decoration:none;
}

.spanlink a{
	color:white !important;
}

.body{
	background-image:url(/assets/2.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 100% 100%;
	background-size:cover;
	color:white;
}
.body a{
	color:white !important;
}

.coststb
{
	font-size:1.5em;
	min-height:250px;
	min-width:600px;
}

.coststb tbody tr td a{
	color:white;
}
.coststb thead tr th{
	text-align:left;
}

.collapse{	
	position:absolute;
	top:0px;
	margin-bottom:20px;
	background-color:darkblue;
	width:100%;
	height:50px;
	left:0px;
}

.collapse ul{
	float:right;
}

.alert{
	float:right;
	margin-right:180px;
}
.alert img{
	height:160px; 
}

	

