<p id="notice"><%= notice %></p>

<h1><%= I18n.t('views.listcat') %></h1>

<table class="coststb">
  <thead>
    <tr>
      <th><%= Category.human_attribute_name(:name) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to I18n.t('views.show'), category %></td>
        <td><%= link_to I18n.t('views.edit'), edit_category_path(category) %></td>
        <td><%= link_to I18n.t('views.destroy'), category, method: :delete, data: { confirm: I18n.t('views.are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to I18n.t('views.cost.index.new_product3'), new_category_path %>
<%= link_to I18n.t('views.back'), costs_path %>
