<p id="notice"><%= notice %></p>

<p>
  <strong><%= Category.human_attribute_name(:name) %>:</strong>
  <%= @category.name %>
</p>

<%= link_to I18n.t('views.edit'), edit_category_path(@category) %> |
<%= link_to I18n.t('views.back'), categories_path %>
