<!DOCTYPE html>
<html>
<head>
  <title>Wallet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>	  
  <%= csrf_meta_tags %>
</head>
<body class="body">
<div class="collapse">
				<ul class="nav">
					<li class="hidden">
						<a href="#page-top"></a>
					</li>
					<% if current_user %>
					<li>
						<%= link_to(I18n.t('views.home'), root_path) %>
					</li>
					<li>						
					<label style="font-size:25px;text-decoration:underline;"><%= I18n.t('views.language') %></label>:
					<%= link_to_unless I18n.locale == :en, "English", locale: :en %>
					|
					<%= link_to_unless I18n.locale == :ru, "Russian", locale: :ru %>
					</li>
					<li>
						<%= link_to I18n.t('views.cost.index.new_product'), new_income_path %>
					</li>
					<li>
						<%= link_to I18n.t('views.cost.index.new_product2'), new_cost_path %>						
					</li> 
					<li>
						<%= link_to I18n.t('views.cost.index.managecategory'), categories_path %>
					</li>
<%end %>					
					<li>
						<% if current_user %>		
		<div style="float:right;"><%= link_to "Logout", destroy_user_session_path, :method => :delete %></div>
	<% else %>
		<%= link_to "Sign in",new_user_session_path %><br />
		<label style="float:right;font-size:20px;margin-top:15px;">Not Registered? Click  <%= link_to "here", new_user_registration_path %> to sign up</label>
	<% end %>
					</li>
				</ul>
			</div>
<% if current_user %>               			
	<h1 style = "font-family:'Brush Script MT', cursive;color:darkturquoise;font-size:5em;display:inline-block;margin-top:72px;"><%= I18n.t('views.hello') %> <%= current_user.email[/[^@]+/] %></h1>
<label style="float:right;margin-top:50px;"> Logged in as <%= current_user.email %> </label>	
<% end %>						
<div style="color:white;text-align:right;font-size:1.8em;display:inline-block;margin-top:35px;" ></div>	
<%= yield %>

</body>
</html>
